/*CSS file for calculator*/
/*Color palate picked using coolors.co*/

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: repeating-linear-gradient(#1B1725, #534B62) fixed;
}

#calc-frame{
    height: 90vh;
    width: 25vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ece4ee;
    border: 3px solid #534B62;
}

.display{
    width: 100rem;
    margin-bottom: 4vh;
    border: 2px solid #534B62;
    background-color: #D2C2E1;
}

#keys{
    display: grid;
    width: 35rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
#equals{
    grid-column: span 2;
}

button{
    background-color: #D2C2E1;
    border-radius: 8px;

}

.operator{
    color: white;
    background-color: #6F5C81;
}

.top-row{
    color: white;
    background-color: #534B62;
}

button:hover{
    background-color: #1B1725;
    color: #ece4ee;
}
button:active{
    transform: translateY(3px);
}
