/*CSS file for calculator*/
/*Color palate picked using coolors.co*/
:root{
    --purple-black: #534B62;
    --darkest-purple: #6F5C81;
    --medium-purple: #D2C2E1;
    --lightest-purple: #ece4ee;
}

/*Specificity (0,0,0,1)*/
body{
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 170px;
    background: repeating-linear-gradient(#1B1725, #534B62) fixed;
}

/*Specificity (0,0,1,1)*/
body > .calc-frame{
    height: 65vh;
    width: 60vw;
    min-width: 200px;
    max-width: 30vw;
    min-height: 200px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--lightest-purple);
    border: 3px solid var(--purple-black);

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        max-height:65vh;
        min-width: 150px;
    }
    /*tablets and other wide screen devices*/
    /*@media only screen and (min-width: 768px) {*/
    /*    max-height: 50vh;*/
    /*    min-width: 50vw;*/
    /*}*/
    /*laptops and other larger screens*/
    /*@media only screen and (min-width: 1200px) {*/
    /*    max-width: 400px;*/
    /*    max-height: 70vh;*/
    /*}*/
}

/*Specificity (0,0,1,0)*/
.display{
    width: 75em;
    height: auto;
    margin-bottom: 2vh;
    border: 2px solid var(--purple-black);
    background-color: var(--medium-purple);
    display: grid;
    grid-template-columns: 1fr;
    text-align: end;
    word-break: break-word;
}

.display > .last-number{
    color:var(--darkest-purple);
    font-size: 1rem;
}
.display > .current-number{
    font-size: 1.75rem;
    font-weight: bolder;
}

/*Specificity (0,0,1,0)*/
.keys{
    display: grid;
    width: 35rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
/*Specificity (0,0,1,0)*/
.equals{
    grid-column: span 2;
}

/*Specificity (0,0,0,1)*/
button{
    background-color: var(--medium-purple);
    border-radius: 8px;

}

/*Specificity (0,0,1,1)*/
button:nth-of-type(4n+4){
    color: white;
    background-color: var(--darkest-purple);
}

/*Specificity (0,0,1,0)*/
.top-row{
    color: white;
    background-color: var(--purple-black);
}

/*Specificity (0,0,1,1)*/
button:hover{
    background-color: #1B1725;
    color: var(--lightest-purple);
}

/*Specificity (0,0,1,1)*/
button:active{
    transform: translateY(3px);
}
