/*CSS file for calculator*/
/*Color palate picked using coolors.co*/
:root{
    --purple-black: #534B62;
    --darkest-purple: #6F5C81;
    --medium-purple: #D2C2E1;
    --lightest-purple: #ece4ee;
}

/*Specificity (0,0,0,1)*/
body{
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: repeating-linear-gradient(#1B1725, #534B62) fixed;
}

/*Specificity (0,0,1,1)*/
body > .calc-frame{
    height: 75vh;
    width: 25vw;
    min-width: 200px;
    max-width: 30vw;
    min-height: 200px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--lightest-purple);
    border: 3px solid var(--purple-black);
}

/*Specificity (0,0,1,0)*/
.display{
    width: 100rem;
    height: auto;
    margin-bottom: 2vh;
    border: 2px solid var(--purple-black);
    background-color: var(--medium-purple);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
}

.display > .last-number{
    color:var(--darkest-purple);
    font-size: 1rem;
}
.display > .current-number{
    font-size: 1.75rem;
    font-weight: bolder;
}

/*Specificity (0,0,1,0)*/
.keys{
    display: grid;
    width: 35rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
/*Specificity (0,0,1,0)*/
.equals{
    grid-column: span 2;
}

/*Specificity (0,0,0,1)*/
button{
    background-color: var(--medium-purple);
    border-radius: 8px;

}

/*Specificity (0,0,1,1)*/
button:nth-of-type(4n+4){
    color: white;
    background-color: var(--darkest-purple);
}

/*Specificity (0,0,1,0)*/
.top-row{
    color: white;
    background-color: var(--purple-black);
}

/*Specificity (0,0,1,1)*/
button:hover{
    background-color: #1B1725;
    color: var(--lightest-purple);
}

/*Specificity (0,0,1,1)*/
button:active{
    transform: translateY(3px);
}
